<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>TagFlix</title>
    <link rel="icon" href="/fav.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    {{#each styles}}
      <link rel="stylesheet" href="{{@this}}">
    {{/each}}

    {{#each scripts}}
      <script src="{{@this}}" charset="utf-8" defer></script>
    {{/each}}

    <script src="/index.js" charset="utf-8" defer></script>
  </head>

  <body>
    <header>
      <div class="title">
        <img src="https://static.thenounproject.com/png/2998555-200.png" class="logo">
        <a href="/">
          <h1 class="site-title">TagFlix</h1>
        </a>
      </div>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink">
            <div class="dropdown">
              <button class="dropbtn"><a href="/">Home</a></button>
            </div>
          </li>
          <!-- <li class="navitem navlink"><a href="#">Home</a></li> -->
          <li class="navitem navlink">
            <div class="dropdown">
              <button class="dropbtn">Genres</button>
              <div class="dropdown-content">
                <div class="column">
                  <a href="/genres/Action/page/1">Action</a>
                  <a href="/genres/Adventure/page/1">Adventure</a>
                  <a href="/genres/Animation/page/1">Animation</a>
                  <a href="/genres/Biography/page/1">Biography</a>
                  <a href="/genres/Comedy/page/1">Comedy</a>
                  <a href="/genres/Crime/page/1">Crime</a>
                  <a href="/genres/Documentary/page/1">Documentary</a>
                  <a href="/genres/Drama/page/1">Drama</a>
                  <a href="/genres/Family/page/1">Family</a>
                </div>
                <div class="column">
                  <a href="/genres/Fantasy/page/1">Fantasy</a>
                  <a href="/genres/Film-Noir/page/1">Film-Noir</a>
                  <a href="/genres/History/page/1">History</a>
                  <a href="/genres/Horror/page/1">Horror</a>
                  <a href="/genres/Music/page/1">Music</a>
                  <a href="/genres/Musical/page/1">Musical</a>
                  <a href="/genres/Mystery/page/1">Mystery</a>
                  <a href="/genres/News/page/1">News</a>
                  <a href="/genres/Romance/page/1">Romance</a>
                </div>
                <div class="column">
                  <a href="/genres/Sci-Fi/page/1">Sci-Fi</a>
                  <a href="/genres/Short/page/1">Short</a>
                  <a href="/genres/Sport/page/1">Sport</a>
                  <a href="/genres/Talk-Show/page/1">Talk-Show</a>
                  <a href="/genres/Thriller/page/1">Thriller</a>
                  <a href="/genres/War/page/1">War</a>
                  <a href="/genres/Western/page/1">Western</a>
                </div>
              </div>
            </div>
          </li>
          <li class="navitem navlink">
            <div class="dropdown">
             <button class="dropbtn"><a href="/tagPage/">Tags</a></button>
              </div>
            </div>
          </li>
            <li class="navitem navlink">
            <div class="dropdown">
            <button class="dropbtn"><a href="/add-movie/">Add Movie</a></button>
              </div>
            </div>
          </li>
        </ul>
      </nav>
    </header>

    {{{body}}}
  </body>



</html>
